# SPDX-FileCopyrightText: 2016 Daniel Kahn Gillmor <dkg@fifthhorseman.net>
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=GnuPG cryptographic agent and passphrase cache
Documentation=man:gpg-agent(1)
Requires=gpg-agent.socket

[Service]
ExecStart=/usr/bin/gpg-agent --supervised
ExecReload=/usr/bin/gpgconf --reload gpg-agent
