# SPDX-FileCopyrightText: 2016 Daniel Kahn Gillmor <dkg@fifthhorseman.net>
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=GnuPG cryptographic agent and passphrase cache
Documentation=man:gpg-agent(1)

[Socket]
ListenStream=%t/gnupg/S.gpg-agent
FileDescriptorName=std
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target
