[alias]
	a = add
	b = branch
	c = commit
	co = checkout
	cp = cherry-pick
	d = diff
	ds = diff --staged
	l = log --pretty=oneline-short
	la = log --pretty=fuller
	lf = log --pretty=fixes --abbrev=12
	lg = log --pretty=oneline-short --graph
	pl = pull
	ps = push
	rb = rebase
	rs = reset
	s = status --short --branch
[branch]
	autosetuprebase = always
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[diff]
	algorithm = histogram
	indentHeuristic = true
[merge]
	conflictstyle = diff3
[pretty]
	fixes = Fixes: %h (\"%s\")
	oneline-short = format:%C(blue)%h%d %C(reset)%s %C(white dim)(%cr, %an)

[include]
	path = ~/.gitconfig-local
